<div style="display: flex; flex-direction: column; padding: 10px; gap: 6px">
  <div style="display: flex">
    <h5>Notifications</h5>
  </div>

  <!-- Notification Table -->
  <table mat-table [dataSource]="notifications?.data" class="mat-elevation-z3">
    <!-- Index Column -->
    <ng-container matColumnDef="index">
      <th style="font-size: small" mat-header-cell *matHeaderCellDef>#</th>
      <td
        mat-cell
        *matCellDef="let element; let index = index"
        style="font-size: smaller"
      >
        {{ index + 1 }}
      </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th style="font-size: small" mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element" style="font-size: smaller">
        {{ element.title }}
      </td>
    </ng-container>

    <!-- Body Column -->
    <ng-container matColumnDef="body">
      <th style="font-size: small" mat-header-cell *matHeaderCellDef>
        Description
      </th>
      <td mat-cell *matCellDef="let element" style="font-size: smaller">
        {{ element.body }}
      </td>
    </ng-container>

    <!-- Read At Column -->
    <ng-container matColumnDef="read_at">
      <th style="font-size: small" mat-header-cell *matHeaderCellDef>
        Read At
      </th>
      <td mat-cell *matCellDef="let element" style="font-size: smaller">
        {{ element.read_at | date : "medium" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <!-- Paginator -->
  <mat-paginator
    [length]="notifications?.total"
    [pageSize]="notifications?.per_page"
    (page)="paginate($event)"
    [showFirstLastButtons]="true"
  >
  </mat-paginator>
</div>
