<!-- <button style="border-radius: 30px" routerLink="/" mat-button>
  <mat-icon>chevron_left</mat-icon>
  Home
</button> -->
<nav
  mat-align-tabs="center"
  [color]="'primary'"
  mat-stretch-tabs="false"
  mat-tab-nav-bar
  [tabPanel]="tabPanel"
>
  <a
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="/profile"
    routerLinkActive
    #aboutRouterLinkAvtive="routerLinkActive"
    mat-tab-link
    [active]="aboutRouterLinkAvtive.isActive"
    >About</a
  >
  <a
    routerLink="alerts"
    routerLinkActive
    #transactionsRouterLinkAvtive="routerLinkActive"
    mat-tab-link
    [active]="transactionsRouterLinkAvtive.isActive"
    >Notification Alerts</a
  >
  <!-- <a
    routerLink="settings"
    routerLinkActive
    #invoicesRouterLinkAvtive="routerLinkActive"
    mat-tab-link
    [active]="invoicesRouterLinkAvtive.isActive"
    >Settings</a
  > -->
</nav>
<mat-tab-nav-panel #tabPanel><router-outlet></router-outlet></mat-tab-nav-panel>
