<div class="flex flex-col h-full bg-white">
  <!-- Logo Section -->
  <div class="flex items-center p-2 border-b border-gray-300">
    <!-- Logo with background -->
    <div
      class="flex items-center justify-center w-8 h-8 rounded-md"
      style="background-color: #5038ed"
    >
      <span class="material-icons text-white text-lg">description</span>
    </div>
    <!-- Brand Name -->
    <span class="ml-3 text-lg text-black">Instascribe</span>
  </div>

  <!-- InstaAI Section -->
  <div class="px-4 mt-6">
    <button
      routerLink="ask"
      class="flex items-center justify-center w-full text-white text-sm px-6 py-1 rounded-lg shadow-md hover:shadow-lg hover:opacity-90 transition duration-300"
      style="background-color: #5038ed"
    >
      <span class="material-icons text-base mr-2">add_comment</span>
      InstaAI
    </button>
  </div>

  <!-- Recent Chats Section -->
  <div class="mt-6 px-4">
    <p class="text-sm text-gray-500">Recent Chats</p>
    <ul class="mt-2 space-y-1">
      <li
        *ngFor="let chat of recentChats"
        class="flex items-center py-2 px-3 rounded-lg hover:bg-gray-100 transition duration-200 cursor-pointer"
        [ngClass]="{
          'bg-gray-100': selectedChat === chat.id
        }"
        (click)="selectChat(chat)"
      >
        <span class="material-icons text-gray-500 text-sm">history</span>
        <span class="ml-2 text-sm text-black">{{ chat.name }}</span>
      </li>
    </ul>
  </div>

  <div class="border-t border-gray-300 my-4 p-2"></div>

  <!-- tools  -->
  <div class="px-4">
    <!-- Tools Header -->
    <p class="text-sm text-gray-500 mb-2">Tools</p>

    <ul class="mt-2 space-y-1">
      <!-- Content (Expandable Panel) -->
      <li class="flex flex-col">
        <div
          class="flex items-center justify-between py-2 px-3 rounded-lg hover:bg-gray-100 transition duration-200 cursor-pointer"
          (click)="toggleContentPanel()"
        >
          <div class="flex items-center">
            <span class="material-icons text-gray-500 text-sm"
              >tips_and_updates</span
            >
            <span class="ml-2 text-sm text-black">Content</span>
          </div>
          <span
            class="material-icons text-gray-400 text-sm transition-transform duration-300"
            [ngClass]="{ 'rotate-180': isContentPanelOpen }"
          >
            expand_more
          </span>
        </div>
        <ul
          class="pl-8 mt-1 space-y-1 transition-max-h duration-300 overflow-hidden"
          [ngClass]="{
            'max-h-0': !isContentPanelOpen,
            'max-h-40': isContentPanelOpen
          }"
        >
          <li
            class="flex items-center py-2 px-3 rounded-lg hover:bg-gray-100 transition duration-200 cursor-pointer"
            routerLink="/content/drafts"
            routerLinkActive="bg-gray-100"
          >
            <span class="material-icons text-gray-500 text-sm">folder</span>
            <span class="ml-2 text-sm text-black">Drafts</span>
          </li>
          <li
            class="flex items-center py-2 px-3 rounded-lg hover:bg-gray-100 transition duration-200 cursor-pointer"
            routerLink="/content/review"
            routerLinkActive="bg-gray-100"
          >
            <span class="material-icons text-gray-500 text-sm">pending</span>
            <span class="ml-2 text-sm text-black">Review</span>
          </li>
          <li
            class="flex items-center py-2 px-3 rounded-lg hover:bg-gray-100 transition duration-200 cursor-pointer"
            routerLink="/content/posts"
            routerLinkActive="bg-gray-100"
          >
            <span class="material-icons text-gray-500 text-sm">article</span>
            <span class="ml-2 text-sm text-black">Posts</span>
          </li>
        </ul>
      </li>

      <!-- Library -->
      <li
        class="flex items-center py-2 px-3 rounded-lg hover:bg-gray-100 transition duration-200 cursor-pointer"
        routerLink="/library"
        routerLinkActive="bg-gray-100"
      >
        <span class="material-icons text-gray-500 text-sm">library_books</span>
        <span class="ml-2 text-sm text-black">Library</span>
      </li>

      <!-- Team -->
      <li
        class="flex items-center py-2 px-3 rounded-lg hover:bg-gray-100 transition duration-200 cursor-pointer"
        routerLink="/team"
        routerLinkActive="bg-gray-100"
      >
        <span class="material-icons text-gray-500 text-sm">groups</span>
        <span class="ml-2 text-sm text-black">Team</span>
      </li>
    </ul>
  </div>

  <!-- User Section -->
  <div class="mt-auto px-4 py-3 border-t border-gray-300 flex items-center">
    <!-- <div *ngIf="user$ | async as user">
      <p class="text-xs font-medium text-black">
        {{ user.f_name }} {{ user.l_name }}
      </p>
      <p class="text-xs font-medium text-black" *ngFor="let role of user.roles">
        {{ role.name }}
      </p>
    </div> -->
    <div *ngIf="user$ | async as user" class="flex items-center space-x-3 p-3">
      <!-- Account Icon -->
      <div
        routerLink="/profile"
        *ngIf="userService.user"
        class="flex items-center justify-center w-7 h-7 bg-blue-500 text-white rounded-full cursor-pointer"
      >
        <span class="material-icons text-md">account_circle</span>
      </div>

      <!-- User Details -->
      <div>
        <!-- User Name -->
        <p class="text-sm font-medium text-gray-900">
          {{ user.f_name }} {{ user.l_name }}
        </p>
        <!-- User Roles -->
        <p
          class="text-xs text-gray-500 font-medium"
          *ngFor="let role of user.roles"
        >
          {{ role.name }}
        </p>
      </div>
    </div>

    <button class="ml-auto" (click)="openSettings()">
      <span class="material-icons text-gray-500">settings</span>
    </button>
    <button
      *ngIf="userService.user"
      (click)="userService.logout()"
      class="ml-6"
    >
      <span class="material-icons text-gray-500">logout</span>
    </button>
  </div>
</div>
