<div class="sticky top-0 z-50 bg-white border-b border-gray-200 flex items-center px-6 py-2">
  <button class="text-gray-700 text-xl focus:outline-none mr-4" (click)="sidenav.toggle()">
    <span class="material-icons">menu</span>
  </button>

  <div class="flex items-center bg-gray-50 border border-gray-300 rounded-lg w-full max-w-md px-4">
    <span class="text-gray-400 text-base flex items-center justify-center h-5">
      <span class="material-icons text-md">search</span>
    </span>
    <input type="text" placeholder="Search conversations..."
      class="w-full bg-transparent text-xs text-gray-700 focus:outline-none ml-2 h-8" />
  </div>

  <!-- Icons on the Far Right -->
  <div class="ml-auto flex items-center space-x-4">
    <!-- Notifications -->
    <button class="text-gray-700 hover:text-gray-900 focus:outline-none relative" 
      routerLink="notifications">
      <span class="material-icons text-xl">notifications</span>
      <span
        class="absolute -top-1 -right-1 bg-red-500 text-white text-xs w-4 h-4 flex items-center justify-center rounded-full">
        {{ unreadNotitications }}
      </span>
    </button>

    <!-- Settings -->
    <button class="text-gray-700 hover:text-gray-900 focus:outline-none"  routerLink="settings">
      <span class="material-icons text-xl">settings</span>
    </button>
  </div>
</div>