<ng-template [ngIf]="userService.user$ | async">
  <div class="py-4">
    <div class="max-w-3xl mx-auto bg-white rounded-lg shadow-md">
      <div class="flex justify-between items-center p-4 border-b">
        <div class="flex items-center gap-4">
          <mat-chip-listbox
            (change)="theme.setTheme($event.value)"
            class="m-3"
            [value]="theme.getTheme() | async"
            aria-label="Notification status"
          >
          </mat-chip-listbox>
        </div>
        <div>
          <button
            *ngIf="!userService.user?.otp_enabled"
            (click)="enable2Fa()"
            class="px-4 py-2 text-xs font-medium text-white bg-blue-600 rounded-md"
          >
            Enable 2FA
          </button>
          <button
            *ngIf="userService.user?.otp_enabled"
            (click)="disable2Fa()"
            class="px-4 py-2 text-sm font-semibold text-white bg-red-600 rounded-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500"
          >
            Disable 2FA
          </button>
        </div>
      </div>
      <div class="p-4">
        <div class="flex items-center justify-between mb-4">
          <div class="flex flex-col">
            <div class="text-lg font-medium text-gray-900">
              {{ (userService.user$ | async)?.f_name | uppercase }}
            </div>
            <div class="text-sm text-gray-600">
              {{ (userService.user$ | async)?.email }}
            </div>
            <div class="text-xs text-gray-500">
              Joined
              {{ (userService.user$ | async)?.created_at | date : "medium" }}
            </div>
          </div>
        </div>
        <hr class="border-gray-200 my-4" />
      </div>
    </div>
  </div>
</ng-template>
