<div class="ask-chat-container">
  <div class="messages-container" #messagesContainer>
    <div *ngFor="let message of chats?.data" [ngClass]="message.role === 'user' ? 'user-message' : 'bot-message'"
      class="message-wrapper">
      <div class="message-content">
        <div *ngIf="message.highlighted_text" class="highlighted-text">
          <mat-icon>format_quote</mat-icon>
          <span>{{ message.highlighted_text }}</span>
        </div>

        <!-- User Input -->
        <div class="user-input">
          <div class="user-message">{{message.user_input}}</div>
        </div>

        <!-- Loading Indicator -->
        <div *ngIf="message.role === 'user' && !message.bot_reply" class="bot-reply loading">
          <img src="assets/ai-avatar.jpg" alt="Bot Avatar" class="bot-avatar">
          <div class="reply-content">
            <div class="loading-indicator">
              <mat-spinner diameter="20"></mat-spinner>
              <span>Scribe thinking...</span>
            </div>
          </div>
        </div>


        <!-- Bot Reply -->
        <div *ngIf="message.role === 'bot' && message.bot_reply" class="bot-reply">
          <img src="assets/ai-avatar.jpg" alt="Bot Avatar" class="bot-avatar">
          <div class="reply-content">
            <div class="markdown-content" [innerHTML]="parseMarkdown(message.bot_reply)"></div>
          </div>
        </div>

        <!-- Message Actions -->
        <div class="message-actions" *ngIf="message.role === 'bot'">

          <button matTooltip="Copy" mat-icon-button (click)="copyMessage(message)">
            <mat-icon>content_copy</mat-icon>
          </button>
          <button matTooltip="Save and proceeed" mat-icon-button (click)="saveMessage(message)">
            <mat-icon>save</mat-icon>
          </button>
          <button matTooltip="Good Response" mat-icon-button (click)="likeMessage(message)">
            <mat-icon [ngClass]="message.liked ? 'liked' : ''">thumb_up</mat-icon>
          </button>
          <button matTooltip="Bad Response" mat-icon-button (click)="dislikeMessage(message)">
            <mat-icon [ngClass]="message.disliked ? 'disliked' : ''">thumb_down</mat-icon>
          </button>
          <button matTooltip="Edit and save as Draft" mat-icon-button (click)="launchContentEditor(message)">
            <mat-icon>rate_review</mat-icon>
          </button>
          <button matTooltip="Retry" mat-icon-button (click)="retry(message.bot_reply)">
            <mat-icon>autorenew</mat-icon>
          </button>
        </div>

      </div>
    </div>
  </div>

  <ng-template #saveDraft>

  </ng-template>
  <!-- Scroll to Bottom Button -->
  <button mat-icon-button *ngIf="showScrollToBottom" class="scroll-to-bottom" (click)="scrollToBottom()">
    <mat-icon>arrow_downward</mat-icon>
  </button>
  <form class="input-container" [formGroup]="chatForm">
    <div class="input-wrapper">
      <!-- File Attachment Button -->
      <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden />
      <button mat-icon-button class="attach-button" (click)="triggerFileInput()">
        <mat-icon>attach_file</mat-icon>
      </button>
      <div style="display: flex;flex-direction: column;gap: 4px;width: 100%;">

        <!-- Display selected file -->
        <div *ngIf="fileName" class="file-display">
          <div class="file-info">
            <mat-icon class="file-icon">insert_drive_file</mat-icon>
            <div class="file-details">
              <span class="file-name">{{ fileName }}</span>
              <span class="file-type">{{fileType}}</span>
            </div>
            <mat-icon class="file-remove" (click)="clearFileSelection()"
              style="transform: scale(0.8);cursor: pointer;">close</mat-icon>
          </div>
        </div>

        <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
          formControlName="user_input" (keydown.enter)="handleKeyDown($event)" placeholder="Ask a follow up..."
          class="input-field">
    </textarea>
      </div>

      <button mat-icon-button class="send-button" [class.active]="chatForm.get('user_input')?.value"
        [disabled]="!chatForm.get('user_input')?.value||!selectedFile" (click)="onSend()">
        <mat-icon>north</mat-icon>
      </button>
    </div>
  </form>
</div>
